*{
    box-sizing: border-box;
    line-height: 1.5em;
}

body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: #000000;
    text-align: center;
    opacity: 0.9;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}

a{
    color: seashell;
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

section{
    margin-bottom: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    position: sticky;
    top:0;
    background-color: #000000;
    z-index: 2;
    border-bottom: 1px solid seashell;
}

#logo{
    margin-left: 10px;
}

nav{
    margin-right: 10px;
}

nav ul li{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

main{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

figcaption{
    margin-top: 10px;
    margin-bottom: 20px;;
}

#our-mission{
    display: flex;
    align-items: center;
    background-image: url(./images/img-mission-background.jpg);
    background-position: center;
    height: 700px;
}

#mission-statement{
    flex-grow: 1;
    background-color: #000000;
    padding: 20px 0;
}

#featured-tea{
    max-width: 1000px;
    margin: auto;
}

.tea-images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.tea-images figure img{
    max-width: 300px;
    max-height: 200px;
    margin-left: 40px;
}

#first-image{
    margin-left: 0;
}

#locations{
    background-image: url('./images/img-locations-background.jpg');
    background-position: center;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-top:20px;
}

#locations h2{
    flex-basis: 100%;
    text-align: center;
    margin: 0;
}

#location-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.location{
    background-color: #000000;
    width: 300px;
    margin-left: 40px;
    opacity: 1;
}

.location p, .location h3{
    line-height: 2.5em;
}

#contact{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer{
    text-align: left;
    margin-bottom: 20px;
}

footer p{
    margin-left: 20px;
}

@media (max-width: 727px){
    .tea-images figure img{
        margin-left: 0;
    }

    #locations{
        height: 750px;
    }

    .location{
        margin-left: 0;
        margin-top: 40px;
    }

    .location p, .location h3{
        line-height: 1.75em;
    }
}
